body{

background:
linear-gradient(
135deg,#667eea,#764ba2);

font-family:Arial;

color:white;

text-align:center;

}

input,select{

padding:10px;

margin:5px;

border-radius:6px;

border:none;

}

button{

padding:10px;

background:#00c9ff;

border:none;

border-radius:6px;

color:white;

}

.card{

background:
rgba(255,255,255,.2);

margin:15px;

padding:15px;

border-radius:10px;

}
